.project-main-container * {
    font-family: 'Yantramanav', sans-serif, Arial, Helvetica;
    font-weight: 200;
    font-size: 20px;
}

.font-weight-300 {
    font-weight: 300;
}

.blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.top-15-per {
    top: 15%;
}

.max-height-900px {
    max-height: 900px;
}

.max-width-300px {
    max-width: 300px;
}

.max-width-500px {
    max-width: 500px;
}

.max-width-700px {
    max-width: 700px;
}

.max-width-900px {
    max-width: 900px;
}

.border-r-5 {
    border-radius: 5px;
}

.title {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.sub-title {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}

.padding-none {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.margin-none {
    margin: 0px;
}

.margin-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-t-b-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-10 {
    margin: 10px;
}

.indent {
    margin-left: 40px;
}

.vertical-align-middle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.horizontal-center-absolute {
    left: 0;
    right: 0;
}

/*TOC Style*/
.js-toc-goto {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.toc-list {
    color: #0099ff;
}

#table-of-contents-container {
    z-index: 998;
    position: fixed;
    right: 0;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    padding: 5px;
    background-color: transparent;
    transition: .2s;
    opacity: 0;
    pointer-events: none;
    animation: toc_slideIn .7s 1.5s ease-out forwards;
}

#table-of-contents-container.toc-container-btn-active {
    background-color: #c9c9c9 !important;
    background-color: #c9c9c994 !important;
    border-color: #939393 !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#table-of-contents-container.toc-container-btn-active .content-title-txt {
    opacity: 1 !important;
}

#table-of-contents-container .content-item {
    text-align: right;
}

#table-of-contents-container .content-title-txt {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    opacity: 0;
    cursor: pointer;
    transition: .2s;
    font-weight: 200;
    font-size: 15px;;
}

#table-of-contents-container .content-title-btn-active {
    font-weight: 300;
}

#table-of-contents-container .content-btn {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    border: solid;
    border-color: #686868;
    border-width: 1px;
    border-radius: 100%;
    background-color: #aadeff;
    background-color: #a8deffb8;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    cursor: pointer;
    pointer-events: visible;
    transition: .3s;
}

#table-of-contents-container .content-btn.in-viewport {
    transform: scale(1.10);
    background-color: #57bdff;
    background-color: #57bdffb8;
}

@keyframes toc_slideIn {
    0% {
        opacity: 0;
        transform: translate(20px, 0%);
    }
    40% {
        transform: translate(-20px, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0%);
    }
}

/*Cover Styles*/
.arrow-down-cover-container {
    bottom: 0%;
    width: 100%;
}

.arrow-down-cover-img {
    width: 40px;
    height: 40px;
    user-select: none;
    animation: arrow-down-animation 2.8s ease-in-out infinite;
}

@keyframes arrow-down-animation {
    0% {
        opacity: 0;
        transform: translate(0px, -24px);
    }
    20% {
        opacity: 1;
        transform: translate(0px, -24px);
    }
    60% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0px 0px);
    }
}

/*Backgrounds*/
.background-blue {
    background-color: #aadeff;
    background-color: #a8deffb8;
}

/*UI Styles*/
.seperator-line {
    width: 80%;
    height: 3px;
    background-color: #b3b3b3;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}

/*Image tools*/
.img-tidbit-conatianer {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.img-tidbit-conatianer:hover .img-tidbit-txt-container {
    opacity: 1;
}

.img-tidbit-txt-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    font-size: 24px;
    background: #abdeff;
    background: #abdeff91;
    backdrop-filter: blur(10px);
    transition: .3s;
    border-radius: 5px;
}

.img-fill-container-cover {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.img-cover {
    object-fit: cover;
}

/*Table Styles*/
.blue-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px #00000026;
    font-size: 20px;
}

.blue-table thead tr {
    background-color: #aadeff;
    background-color: #a8deffe6;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: #000000;
    text-align: left;
}

.blue-table thead tr th {
    font-weight: 300;
}

.blue-table th,
.blue-table td {
    padding: 12px 15px;
}

.blue-table tbody tr {
    background-color: #f9f9f9;
    background-color: #fafafae6;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.blue-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    background-color: #f2f2f2e6;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/*Root container properties*/
.project-main-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    opacity: 0;
}

.project-main {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.section {
    margin-top: 15px;
}

/*Border styles*/
.border-blue {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #b1e1ff;
    transition: .4s;
}

.border-blue:hover {
    border-color: #3cb4ff;
}