* {
    font-family: 'Yantramanav', sans-serif, Arial, Helvetica;
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.margin-none {
    margin: 0px;
}

.margin-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}

.vertical-align-middle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/*Image tools*/
.img-tidbit-conatianer {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.img-tidbit-conatianer:hover .img-tidbit-txt-container {
    opacity: 1;
}

.img-tidbit-txt-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    font-size: 24px;
    background: #abdeff;
    background: #abdeff91;
    backdrop-filter: blur(10px);
    transition: .3s;
    border-radius: 5px;
}

.img-border-round {
    border-radius: 5px;
}

/*Root container properties*/
.project-main-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    opacity: 0;
}

/*Project header propertes*/
.project-header-container {
    text-align: center;
}

.project-title-img {
    width: 100%;
    max-width: 1110px;
    border-radius: 0px 0px 5px 5px;
}

.project-title-container {
    position: absolute;
    width: 100%;
}

.project-title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-radius: 0px 0px 3px 3px;
    border-width: 2px;
    background: #585858;
    background: #58585894;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #abdeff;
    font-size: 38px;
}

/*Seperators*/
.box-seperator {
    border-bottom: solid;
    border-color: #c7c7c7;
    border-width: 1px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

/*Section Properties*/
.section-container {
    width: 100%;
    max-width: 1500px;
}

.section {
    padding: 10px;
}

.section-header {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.section-content {
    font-size: 20px;
    font-weight: 200;
}

.section-std-img {
    width: inherit;
}

.float-left-50 {
    text-align: center;
    margin: 10px;
    width: 50%;
    max-width: 500px;
    float: left;
}

.float-right-50 {
    text-align: center;
    margin: 10px;
    width: 50%;
    max-width: 500px;
    float: right;
}