.center-middle-screen {
    width: 160px;
    height: 160px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
    z-index: 20;
    margin: auto;
}

.stretch-to-screen {
    height: 100%;
}

.no-padding {
    padding: 0px;
}

.margin-none {
    margin: 0px;
}

.margin-t-10 {
    margin-top: 10px;
}

.hamburger-wrapper {
    border-radius: 53px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 6px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
}

.hamburger-wrapper:active:hover {
    animation: .5s scaleDown ease-out backwards !important;
}

.hamburger-icon {
    width: 25px;
    height: 25px;
    display: block;
}

.nav-menu-bar {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.nav-hyperlink-icon {
    width: 25px;
    height: 25px;
    padding: 0px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.block-title {
    font-size: 50px;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.seperator-line {
    border-bottom: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 2px;
    border-radius: 10px;
    margin-top: 5px;
}

.color-white {
    color: #ffffff;
}

.color-gray {
    color: #383838;
}

.square-inner-header {
    text-align: center!important;
    font-size: 26px;
    font-weight: bold;
}

.square-inner-header-small {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 200;
}

.contact-container {
    width: 60%;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    min-width: 270px;
    max-width: 450px;
    transform: translate(-135%, 0%);
}

.contact-table {
    background: #115176;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
}

.contact-table-line {
    margin-bottom: 7px;
    margin-top: 7px;
}

.contact-text {
    margin: 0px 0px 0px 3px;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
}

.contact-text:hover {
    color: #ffffff;
}

.contact-img {
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.contact-social-section {
    margin-top: 5px;
    text-align: center;
}

.contact-social-icon {
    cursor: pointer;
}

.contact-social-icon:hover {
    filter: invert(25%) sepia(32%) saturate(1074%) hue-rotate(158deg) brightness(103%) contrast(102%);
}

.about-container {
    transform: translate(-135%, 0%);
}

.about-inner-header {
    font-size: 34px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.about-buzzword-line {
    margin-left: 10%;
    font-size: 26px;
    display: inline-block;
}

.cursor-blinker {
    width: 14px;
    height: 22px;
    background: #ffffff;
    display: inline-block;
    animation: blink .7s linear infinite;
}

.projects-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: translate(135%, 0%);
}

.card-container {
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: auto;
    min-height: 200px;
    height: 75vh;
    height: calc(100vh - 75px);
}

.projects-card {
    width: 90%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.projects-card:hover {
    transform: scale(1.05);
    transition: all .25s ease-out;
}

.project-card-header {
    font-size: 24px;
    font-weight: bold;
    color: #6c6c6c;
    text-align: center;
    margin: 0;
}

.card-img-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right-style: solid;
    border-right-width: 2px;
    border-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-container img {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
}

.card-info {
    display: inline-block;
    color: #919191;
}

#nav-screen {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    padding: 0px;
}

#nav-square-large-right-container {
    padding: 0px;
}

#nav-square-large-right {
    height: 100%;
    background-color: #303030;
    border-radius: 0px 10px 10px 0px;
}

#nav-square-large-right:hover {
    background-color: #1f1f1f;
    -webkit-transition: background-color 200ms ease-out;
    -ms-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

#nav-square-small-top-container {
    transform: translate(0%, -100%);
    padding: 0px;
    height: 40vh;
}

#nav-square-small-top {
    height: 100%;
    overflow: auto;
    background-color: #3b8cb5;
    border-radius: 10px 0px 0px 0px;
}

#nav-square-small-top:hover {
    cursor: pointer;
    background-color: #247299;
    -webkit-transition: background-color 200ms ease-out;
    -ms-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

#nav-square-small-bottom-container {
    transform: translate(0%, 100%);
    padding: 0px;
    height: 60vh;
}

#nav-square-small-bottom {
    height: 100%;
    background-color: #007ab5;
    overflow: auto;
    border-radius: 0px 0px 0px 10px;
}

#nav-square-small-bottom:hover {
    background-color: #006395;
    -webkit-transition: background-color 200ms ease-out;
    -ms-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

#about-text {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
}

#buzzword {
    font-family: 'Courier New', monospace;
}

#contact-text {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
}

#project-text {
    text-align: center;
    margin-bottom: 0px;
    text-decoration: none;
}

/*Underline Animation*/
.center-underline-white::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.left-underline-white::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.right-underline-gray::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
  }

.underline-animate::before {
    transform: scaleX(1);
}

@media (max-width: 767px) {
    .stretch-to-screen {
        height: auto;
    }

    .projects-container {
        height: auto;
    }

    #nav-screen {
        overflow: auto;
    }

    #nav-square-small-top-container {
        height: auto;
    }

    #nav-square-small-bottom-container {
        transform: translate(100%, 0%);
        height: auto;
    }

    #nav-square-small-top {
        border-radius: 10px 10px 0px 0px;
    }

    #nav-square-small-bottom {
        border-radius: 0px 0px 0px 0px;
    }

    #nav-square-large-right {
        border-radius: 0px 0px 10px 10px;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(.6);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes navSelectorRise {
    100% {
        transform: translate(0%, 20%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translate(100%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideLeftUndo {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(100%, 0%);
    }
}

@keyframes slideLeftOpacity {
    0% {
        opacity: 0;
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes slideLeftOpacityUndo {
    0% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        transform: translate(100%, 0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes slideRightUndo {
    0% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0;
        transform: translate(-100%, 0%);
    }
}

@keyframes slideTopDown {
    0% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideTopDownUndo {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, -100%);
    }
}

@keyframes slideBottomUp {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideBottomUpUndo {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 100%);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}